<div id='map' style="height: 800px;"></div>
<script>
 function initMap() {
   let styles = [
     {
       featureType: "all",
	stylers: [
         { "saturation": -70 },
         { "lightness": 0 },
       ]
     }
   ];

 let map = new google.maps.Map(document.getElementById('map'), {
   zoom: 10,
 });
 let transitLayer = new google.maps.TransitLayer();
 transitLayer.setMap(map);
// 公共交通機関の情報を地図上に表示するための機能

 <% @posts.each do |post| %>
   ( function(){
     let markerLatLng = { lat: <%= post.lat %>, lng: <%= post.lng %> };
     let marker = new google.maps.Marker({
       position: markerLatLng,
       map: map
     });

     let infowindow = new google.maps.InfoWindow({
    // 情報ウィンドウの定義
       position: markerLatLng,
       content: `<div class="custom-info">
        <div class="custom-info-item name">
        <%= post.body %>
        </div>
        <div class="custom-info-item address">
          <% post.images.each do |image| %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag(image,width:75) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>`,
     });
     marker.addListener('click', () => {
       infowindow.open({
        anchor: marker,
        map,
      });
     });
   })();
 <% end %>
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>