<h2>投稿詳細</h2>
<% if @post.user_id == current_user.id %>
  <a type="button" class="btn btn-outline-success" href="<%= edit_post_path(@post) %>">投稿を編集</a>
  <button type="button" class="btn btn-outline-danger">
    <%= link_to "投稿を削除", post_path(@post),  method: :delete, class: 'text-danger' %>
  </button>
<% end %>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_profile_image, size: "100x100" %>
  <% end %>
</div>

<%= render 'map', posts: @posts %>

<!--仮投稿一覧-->
<div>
  <% @post.images.each do |image| %>
    <%= image_tag(image, width:100) %>
  <% end %>
</div>
<p>
  タグ:<%= @post.tag_body %>
</p>
<p>
  本文:<%= @post.body %>
</p>
<!--住所が表示されないのちに修正-->
<p>
  住所:<%= @post.address %>
</p>
<p>
  緯度:<%= @post.lat %>経度:<%= @post.lng %>
</p>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= link_to user_path(@user.id) do %>
      <p><%= image_tag post_comment.user.get_profile_image, size:'100x100' %></p>
    <% end %>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d')%><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>