<h2>アカウント編集</h2>
<%= form_with model: @user do |f| %>
  <div class="form-group">
    <label for="user_name">アカウント名</label>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <label>プロフィール画像変更</label>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.submit "更新" %>
  </div>
<% end %>
<button type="button" class="btn btn-outline-danger">
  <%= link_to destroy_user_session_path, method: :delete, class: 'text-danger' do %>
    <h2>ログアウト</h2>
</button>
<% end %>