<h2>投稿編集</h2>
<div>
  <% @post.images.each do |image| %>
    <%= image_tag(image, width:100) %>
  <% end %>
</div>

<%= form_with model: @post do |f| %>
<div class="form-group">
  <label for="post_tag_body">ハッシュタグ</label>
  <%= f.text_area :tag_body %>
</div>
<div class="form-group">
  <label for="post_body">本文</label>
  <%= f.text_area :body %>
</div>
<div class="form-group">
  <label for="post_lat">緯度</label>
  <%= f.text_field :lat %>
  <label for="post_lng">経度</label>
  <%= f.text_field :lng %>
</div>
<div class="form-group">
  <%= f.submit '更新' %>
</div>
<% end %>