<!--検索ボックスはできれば地図上に配置する-->
<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<!-- 下の1行を追加 -->
<div id="display">緯度,経度</div>

<%= render 'map', posts: @posts %>

<!--後でマップ内で投稿を表示させる-->
<!--後で変更するかも大きさは変更する-->
<button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">
  <%= link_to new_post_path do %>
  <p class="text-white">＋</p>
  <% end %>
</button>

<!--仮投稿一覧-->
<h3>投稿一覧</h3>
<% @posts.each do |post| %>
<div>
  <% post.images.each do |image| %>
    <%= link_to post_path(post.id) do %>
      <%= image_tag(image, width:100) %>
    <% end %>
  <% end %>
</div>
<div>
  <%= post.body %>
</div>
<div>
  <%= post.lat %><%= post.lng %>
</div>
<% end %>