<div class="container">
  <div class="row">
    <h2 class="col-12">投稿</h2>
    <%= form_with model: @post do |f| %>
    <div class="col-10 d-flex align-items-stretch">
      <div class="form-group">
        <label for="exampleFormControlFile1">画像を選択してください</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </div>
    <div>
      <%= f.text_field :tag %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
      <div>
        <h2>投稿したい場所を選択</h2>

        <input id="address" type="textbox">
        <input type="button" value="検索" onclick="codeAddress()">
        <!-- 下の1行を追加 -->
        <div id="display">緯度,経度</div>

        <div id='map' style="height: 600px;width: 600px;"></div>

      </div>

    </div>
    <div>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit '投稿' %>
    </div>
    <% end %>
  </div>
       <div class="input-field">
</div>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 35.6803997, lng: 139.7690174 },
    zoom: 10,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });

 google.maps.event.addListener(map, 'click', mylistener);

    //クリックしたときの処理
  function mylistener(event){
    map_lat = document.getElementById('post_lat')
    map_lng = document.getElementById('post_lng')
    //markerの位置を設定
    //event.latLng.lat()でクリックしたところの緯度を取得
    marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
    //marker設置
    marker.setMap(map);
    map_lat.value = event.latLng.lat();
    map_lng.value = event.latLng.lng();
  }
}

  function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
    map.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
      map: map,
      position: results[0].geometry.location
    });

    display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
     }
    });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>