<!--仮viewページ-->
<h2>投稿詳細</h2>
<% if @post.user_id == current_user.id %>
  <a type="button" class="btn btn-outline-success" href="<%= edit_post_path(@post) %>">投稿を編集</a>
  <button type="button" class="btn btn-outline-danger">
    <%= link_to "投稿を削除", post_path(@post),  method: :delete, class: 'text-danger' %>
  </button>
<% end %>
<div>
  <% @post.images.each do |image| %>
    <%= image_tag(image, width:100) %>
  <% end %>
</div>
<div>
  <%= @post.tag_body %>
</div>
<div>
  <%= @post.body %>
</div>
<div>
  <%= @post.lat %><%= @post.lng %>
</div>