<table class="table">
  <thead>
    <tr>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image, size: "100x100" %>
          <% end %>
        </td>
        <td class="align-middle"><%= user.name %></td>
        <td class="align-middle">フォロー数: <%= link_to user.followings.count, user_followings_path(user) %></td>
        <td class="align-middle">フォロワー数: <%= link_to user.followers.count, user_followers_path(user) %></td>
        <td class="align-middle"><%= render "public/relationships/btn", user: user, options: { class: "" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
