<div class="container">
  <div class="row align-items-center my-2">
    <h3 class="col-2 my-2">投稿一覧</h3>
      <div class="col-2 offset-6">
        <%= image_tag @user.get_profile_image, size: "75x75" %>
      </div>
      <h3 class="col-2"><%= @user.name %></h3>
    </div>
    <%= render 'public/posts/map', posts: @posts %>
    <!--仮投稿一覧のため変更-->
    <% @posts.each do |post| %>
      <div>
        <% post.images.each do |image| %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag(image, width:100) %>
          <% end %>
        <% end %>
      </div>
      <p>
        本文:<%= post.body %>
      </p>
      <p>
        住所:<%= post.address %>
      </p>
      <p>
        緯度:<%= post.lat %>経度:<%= post.lng %>
      </p>
      <p>
        <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
      </p>
    <% end %>
</div>
