<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Momember</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f4d3a5e756.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm header-color">
      <nav class="navbar navbar-expand-lg navbar-light" style="color:#81C8B6;">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand p-3 mx-3" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to posts_path, class: "nav-link" do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <!--フォロー仮のURL-->
                <%= link_to posts_path, class: "nav-link" do %>
                  <i class="fa-solid fa-users"></i> Follow
                <% end %>
              </li>
              <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to edit_user_path(current_user), class: "nav-link" do %>
                  <i class="fa-solid fa-user"></i> My Page
                <% end %>
              <% else %>
                <%= link_to about_path, class: "nav-link" do %>
                  <i class="fa-solid fa-book"></i> About
                <% end %>
              <% end %>
              </li>
              <li class="nav-item">
                <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
                  <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
                  <%= form.button type: "submit", class: "search-btn" do %>
                    <i class="fa-solid fa-magnifying-glass"></i> 検索
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
    <div class="flash">
      <%= flash[:error] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
